body{
    margin:0;
    padding:0;
    position:relative;
    height:100%;
    width:100%;
}

.container{
    display:flex;
    position:relative;
}

.navbar{
    display:flex;
    flex-wrap: wrap; 
    background-color:antiquewhite;
    justify-content:space-between;
    padding-left:15px;
    padding-right:15px;
    align-items: center;
    border:1px solid brown;
    width:100%;
    box-sizing:border-box;
}

.list ul{
    display:flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;  
    font-weight:800;
    padding:0;
    margin:0;
}

ul li{
    list-style: none;
    padding:5px;
}

ul button{
    padding:10px;
    background-color: brown;
    color:white;
    border-right:6px solid black;
    border-bottom:6px solid black;
    border-radius:5px;
}

.list ul :hover{
    text-decoration:underline;
}

ul button:hover{
    text-decoration:none;
    border-bottom:none;
    border-right:none;
}

.carousel{
    height:60vh;
    width:100%;
    display:flex;
    overflow:hidden;
}

.img{
    width:100vw;
    flex-shrink: 0;
    animation: slide 12s infinite;
}

@keyframes slide {
    0%, 33.33% {
        transform: translateX(0);
    }
    33.34%, 66.66% {
        transform: translateX(-100%);
    }
    66.67%, 100% {
        transform: translateX(-200%);
    }
}

.wrapper{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
}

.card{
    height:calc(100vh - 80vh);
    width:calc(100vw - 60vw);
    background-color:antiquewhite;
    margin:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card button{
    padding:10px;
    background-color: brown;
    color:white;
    border-right:6px solid black;
    border-bottom:6px solid black;
    border-radius:5px;
    animation: motion 12s infinite;
}

.card button:hover{
    border-right:none;
    border-bottom:none;
    
}

@keyframes motion{
    0%{
        border-right:2px solid black;
    }

    20%{
        border-right:10px solid purple;
    }
}