*{
    margin:0;
    padding:0;
}
.main{
    height:100%;
    width:100%;
    position:relative;
    display:flex;
}

.nav{
    height:40px;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:2px solid black;
    padding:0 2vw;
    overflow:hidden;
}
.menu{
    display:flex;
     gap:3vw;
}
.nav h2{
    font-size:2vmax;
}

.menu h5{
    font-size:1vmax;
}

.menu i{
    display:none;
}
.right, .left{
    height:calc(100vh - 40px);
    width:100%;
    background-color: rgba(163, 109, 43, 0.53);
    position:absolute;
    /* margin-top:2vh; */
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
.left button{
    background-color: white;
    color:black;
    border:2px solid black;
    padding:10px;
    width:100px;

}

@media (max-width:600px){
    .nav h2{
        font-size:4vmax;
    }
    
    .menu h5{
        font-size:2vmax;
    }

    h5{
        display:none;
    }

    .nav h2 div{
        padding:4vw;
    }

    .menu i{
        display:block;
    }
}