
img{
    height:200px;
    width:200px;
    border-radius:50%;
    border-right:6px solid blue;
}

.container{
    display:grid;
    grid-template-rows: 6;
    justify-items: center;
    align-items: center;
    background-color: aqua;
    border-radius:20px;
    height:500px;
    width:500px;
}


button{
    border:none;
    border-radius:40px;
}

