*{
    margin:0;
    padding:0;
    box-sizing: border-box
}

body{
    height:100%;
    width:100%;
    position:absolute;
    background-color:black
}

.topcontainer{
    width:100%;
    height:30px;
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}

h5{
    font-weight:500;
    color:white;
    text-decoration:underline;
    letter-spacing:2px;
}

:hover h5 {
    /* transition: text-decoration 2ms ease-out; */
     text-decoration:none;
}

.wrapper{
    display:flex;
    height:50px;
    width:100%;
    justify-content:space-between;
    align-items:center;
    /* background-color:yellow; */
    background-color:white;

}

img{
    height:30px;
    width:90px;
    padding-left:17px;
}

.menu{
    display:flex;
    align-items:center;
    
}

.menu h5{
    color:black;
    margin:5px;
    padding-right:6px;
    
}

/* :hover .wrapper{
    background-color:white;
} */

video{
    height:calc(100vh - 140px);
    width:100%;
    object-fit: cover;
}
.card{
    height:200px;
    width:200px;
    border:2px solid pink;
    background-color:aliceblue;
    margin:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    padding:20px;
    border-radius:10px;
}

.cardwrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
}

button{
    padding:10px;
    background-color:black;
    color:white;
}

