.box{
    height:100vh;
    width:45vh;
    background-color:black;
    position:absolute;
    left:-300px;
}

.text{
    font-family:sans-serif;
    font-weight:500;
    color:white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;
}

.text:hover{
    box-shadow: 0 0 2px grey;
    font-weight:650;
    color:gold;
}
label i{
    color:white;
}
#home{
    margin-top:40px;
}

.photo{
    height:200px;
    width:200px;
    border-radius:50%;
    background-image:url("https://sb.kaleidousercontent.com/67418/960x550/d1e78c2a25/individuals-a.png");
    background-size:cover;
    background-position: center;
    margin-top:20px;
    position:relative;
    left:35px;
    top:20px;
}

.photo:hover{
    border:5px solid gold;
}

#check{
    display:none;
}

#bar i{
    color:grey;
    font-size:30px;
    position:absolute;
    left:0;
    top:10px;
}

#cross i{
    position:absolute;
    left:250px;
    top:10px;
    font-size:20px;
    z-index:1;
}

#check:checked ~.box{
  left:0;
}
